<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>F2hOBVNa1A38FbWwdwf03ybPK2QE2m6o</string>
  <key>Domain</key>
  <string>peterkos.auth0.com</string>
</dict>
</plist>